body{
    background-image: url('picture/bg.jpg');
    background-repeat: no-repeat;
    
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar a{
    color: aliceblue;
    text-decoration: none; 
}

.navbar ul{
    list-style-type: none;  
    
}

.logo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    transition: 0.5s ease;
}

.navbar{
    width: 100%;
    height: 60px;
    margin: 0px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    animation: drop 1.5s ease;
}

.navbar .links{
    display: flex;
    gap: 2rem;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s ease;
}

.action-btn{
    background-color: darkorange;
    position:static;
    color: aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    justify-content: right;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s ease;
}

.action-btn:hover{
    scale: 1.1;
    transition-duration: 0.2s;
    color: aliceblue;    
}

.links li:hover{
    transition-duration: 0.2s;
    scale: 1.1;
}

.logo{
    animation: drop 1.5s ease;

}

.logo:hover{
    transition-duration: 0.5s;
    scale: 1.2;
}

.container{
    margin-top: 40px;
    margin-left: 20%;
    background-color: rgba(37, 36, 36, 0.895);
    color: rgba(255, 255, 255, 0.968);
    border-radius: 10px;
    width: 60%;
    justify-content: center;
    padding: 20px;
    font-family: serif ;
}

.chead{
    text-emphasis: bold;
    font-size: 40px;
    text-align: center;
}

.intro{
    font-size: 20px;
    margin-top: 30px;
}

.contributers{
    margin: 10px 3% 0px 1.8%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    width: 95%;
    animation: drop 1.5s ease;
    margin-bottom: 45px;
    
}

.card{
    width: 30%;
    max-width: 400px;
    min-width: 300px;
    border: 1px rgb(255, 255, 255) solid;
    padding: 10px;
    position: relative;
    border-radius: 20px;
    margin: 20px 10px 10px 10px;
    animation: drop 1.5s ease;
    background-color: rgba(0, 0, 0, 0.462);
    color: white;
    transition: 0.5s ease;
    text-align: center;
    scale: 0.8;
}

.card img{
    margin: 10px;
}


.card:hover{
    scale: 0.85;
    transition: 0.5s ease;
}

.card-title{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: serif;
    font-size: 30px;
    color: rgb(189, 225, 255);
}

.card-body{
    padding: 5px;
}

.card-body-link{
    display: flex;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    bottom: 0px;
}

.list-group-item{
    text-align: center;
    width: 30%;
}

.list-group-item img{
    width: 50px;
}

.card-body-link a{
    text-decoration: none;
    border: 1px solid white;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    height: 100%;
}

.list-group{
    display: flex;
    justify-content: center space-between;
}

.card-body-link a:hover{
    background-color: rgb(189, 225, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    scale: 1.05;
    transition-duration:0.2s ;
}

ul{
    list-style: none;
}