
body{
	background-image: url('/picture/bg.jpg');
background-repeat:no-repeat;
background-size:contain;
background-position:center;
background-size: cover;
}
.skillset{
	width:fit-content;
	border: 15px solid rgb(59, 5, 5);
	padding: 50px;
	margin: auto;
	color:white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: oblique;
	text-align:center;
	justify-content: center;
	display:block;

	
  }

  .heading{
	font-size: 200%;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color:white;
  }

  .title{
	font-size: 600%;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	color:white;

  }

  .checkbox{
	font-size: 200%;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color:white;
  }

  #skill{
	width:fit-content;
	border: 15px solid rgb(59, 5, 5);
	padding: 50px;
	margin: auto;
	color:white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 200%;
	font-style: oblique;
	text-align:center;
	justify-content: center;
	display:block;

  }

  header{
    position: relative;
    padding: 0 2rem;
}
.navbar a{
    color: aliceblue;
    text-decoration: none; 
}

.navbar ul{
    list-style-type: none;  
    
}
.navbar{
    width: 100%;
    height: 60px;
    margin: 0px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    animation: drop 1.5s ease;
}

.navbar .links{
    display: flex;
    gap: 2rem;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s ease;
}

.logo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    transition: 0.5s ease;
}

.action-btn{
    background-color: darkorange;
    position:static;
    color: aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    justify-content: right;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 0.5s ease;
}

.action-btn:hover{
    scale: 1.1;
    transition-duration: 0.2s;
    color: aliceblue;    
}
