
body{
	background-image: url('/picture/bg1.jpg');
background-repeat:no-repeat;
background-size:contain;
background-position:center;
background-size: cover;
}
.skillset{
	width:fit-content;
	border: 15px solid rgb(59, 5, 57);
	padding: 50px;
	margin: auto;
	color:white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-style: oblique;
	text-align:center;
	justify-content: center;
	display:block;

	
  }

  .heading{
	font-size: 700%;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color:white;
  }

  .title{
	font-size: 900%;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	color:white;

  }

  .checkbox{
	font-size: 300%;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	color:white;
  }

  #skill{
	width:fit-content;
	border: 15px solid rgb(59, 5, 57);
	padding: 50px;
	margin: auto;
	color:white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 200%;
	font-style: oblique;
	text-align:center;
	justify-content: center;
	display:block;

  }