body{
    background-image: url('picture/bg.jpg');
}

header{
    position: relative;
    padding: 0 2rem;
}

.navbar a, .list a{
    color: aliceblue;
    text-decoration: none;
}

.navbar ul, .list ul{
    list-style-type: none;  
}

.logo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.navbar{
    width: 100%;
    height: 60px;
    margin: 0px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.navbar .links{
    display: flex;
    gap: 2rem;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.action-btn{
    background-color: darkorange;
    position:static;
    color: aliceblue;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    justify-content: right;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.action-btn:hover{
    scale: 1.1;
    transition-duration: 0.2s;
    color: aliceblue;    
}

.links li:hover{
    transition-duration: 0.2s;
    scale: 1.3;
}

.logo:hover{
    transition-duration: 0.5s;
    scale: 1.2;
}

.head{
    color: aliceblue;
    display: flex;
    padding-left: 5px;
    font-size: 50px;
    margin: 30px;
    max-width: 550px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sub{
    font-size: 18px;
    padding-left: 10px;
    padding-top: 30px;
}

.list1{
    color: aliceblue;
    justify-content: center;
    padding-right: 25px;
    font-size: 20px;

}

.items{
    padding: 25px;
    border: rgb(76, 228, 193) 2px solid;
    border-radius: 20px;
    margin: 30px;
    width: 90%;
    backdrop-filter: blur(5px);
}

.item-head{
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 35px;
}

.items:hover{
    scale: 1.05;
    transition-duration: 0.5s;
}

.items a{
    width: 100%;
    height: 100%;
    position: fixed;
}